﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Aspose.EmailProcessing.Default1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Aspose.Email for .NET</strong></div>
            <div class="panel-body">
                <p>
                    <a href="http://www.aspose.com/.net/email-component.aspx">Aspose.Email for .NET</a> is a collection of components for working with emails from within your .NET applications. Aspose.Email makes it easy to create, read and manipulate a number of message formats such as MSG, EML, EMLX and MHT files without the need of installing Microsoft Outlook. You can not only change the message contents, but also manipulate (add, extract and remove) attachments from a message object. You can customize message headers by adding or removing recipients, changing the subject or other properties. It also gives you complete control over an email message by providing access to its Mapi properties.
                </p>
                <p>It supports Outlook file formats MSG, OFT, PST and OST. In addition, it also provides support for other message formats such as EML, EMLX, TNEF, MBOX and MHT. It also allows exporting message files to TIFF and XPS formats.</p>
                <img class="centerImage" title="Aspose.Email for .NET - Supported File Formats diagram" alt="Aspose.Email for .NET - Supported File Formats diagram" src="http://www.aspose.com/Aspose.Email/Images/Diagrams/NET/Aspose-Email-NET-supported-file-formats.jpg">
                <a role="button" href="/Login.aspx" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Aspose.Email for .NET - Common uses</strong></div>
            <div class="panel-body">
                <ul class="content">
                    <li>Easily send email with HTML formatting and attachments</li>
                    <li>Mail merge and send mass mail functions.</li>
                    <li>Connect to POP3 and IMAP mail servers, list and download messages locally.</li>
                    <li>Connect to Microsoft Exchange Servers, list, download and send messages.</li>
                    <li>Create and update tasks using iCalendar.</li>
                    <li>Load messages from file or stream (EML, EMLX, MSG, OFT, MBOX, TNEF or MHT formats).</li>
                    <li>Save messages to file or stream (EML, EMLX, MSG, OFT, or MHT formats).</li>
                    <li>File format conversion (EML, MSG or MHT formats).</li>
                    <li>Manipulate <span><a href="http://www.aspose.com/docs/display/emailnet/Working with Outlook Personal Storage (PST) files">message storage files</a></span> i.e. PST and OST</li>
                    <li>Create and add Messages, Contacts, Tasks, Notes, Calendar items and Distribution lists to PST</li>
                    <li>Extract messages, contacts and calendar items from PST in MSG format&nbsp;</li>
                    <li>Generate dates for specified recurrence patterns according to iCalendar RFC.</li>
                    <li>Manipulating <span><a href="http://www.aspose.com/docs/display/emailnet/Working with Calendar Items using Exchange Web Service (EWS) client">Calendar items</a></span> using Exchange Web Service (EWS) client</li>
                </ul>
            </div>
        </div>
    </div>
</asp:Content>
